.grid {
  display: grid;
  grid-template-columns: var(--grid-columns);
  gap: 1.5rem;
}

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 639px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 639px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}